header {
  background-color: #e5e5e5;
  color: white;
  min-height: 18vh;
  display: flex;
  padding: 1em;
}

.search-container {
  position: absolute;
  width: 100%;
}

h1 {
  font-size: 3em;
  font-family: 'Arvo', serif;
  text-decoration: underline;
  color: #14213d;
}

.header-link {
  text-decoration: none;
}

.logo {
  margin-top: 10px;
  margin-left: 40px;
  height: 150px;
  width: 160px;
  float: left;
}