.selected-stock {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 10%;
}

.selected-stock-details {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 60%;
}

.dark-theme a { 
  color: white; 
}

.selected-stock-img {
  width: 300px;
}

.return-button {
  color: black;
  background-color: orange;
  border-radius: 2px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  text-align: left;
  margin-top: 15px;
  padding: 4px 10px;
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  .selected-stock {
    display: flex;
    flex-direction: column;
    width: 700px;
  }

  .selected-stock-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .selected-stock-img {
    width: 150px;
  }

  .selected-stock-details {
    width: 80%;
  }
}