.selected-stock {
  display: flex;
  border: 2px solid green;
  justify-content: space-around;
  align-items: center;
}

.selected-stock-details {
  display: flex;
  flex-direction: column;
  width: 100%;
}