.selected-stock {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
}

.selected-stock-details {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 40%;
}

.selected-stock-img {
  width: 300px;
}