.stock {
  display: flex;
  align-items: center;
  border-bottom: 2px solid darkgray;
  width: 100%;
  height: 90px; 
}

.stock-img {
  display: flex;
  justify-content: center;
  width: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.stock-details,
.percent-change-green,
.percent-change-red {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.percent-change-green {
  color: green;
  font-weight: bold;
}

.percent-change-red {
  color: red;
  font-weight: bold;
}

.stock-title, p {
  display: flex;
  width: 200px;
  align-items: center;
}