a {
  color: black;
}

.stock-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stock-container-label {
  display: flex;
  border-bottom: 2px solid lightgray;
  width: 800px;
  height: 50px; 
  justify-content: space-evenly;
}

.stock-img-label {
  display: flex;
  justify-content: center;
  width: 50px;
  margin-left: 50px;
  margin-right: 40px;
  visibility: hidden;
}

.stock-label-details {
  display: flex;
  align-items: center;
  width: 80%;
}

.stock-link {
  text-decoration: none;
}

.stock-label {
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 900px) {
  .stock-container {
    height: fit-content;
    width: 100%;
    justify-content: space-around;
  }

  .stock-container-label {
    visibility: hidden;
  }
}
