a {
  color: black;
}

a:hover {
  background-color: #ececec;
}

.stock-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stock-container-label {
  display: flex;
  border-bottom: 2px solid lightgray;
  width: 900px;
  height: 50px; 
  justify-content: space-evenly;
}

.stock-img-label {
  display: flex;
  justify-content: center;
  width: 50px;
  margin-left: 50px;
  margin-right: 50px;
  visibility: hidden;
}

.stock-label-details {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.stock-link {
  text-decoration: none;
}
